{% extends "base.html" %}
{% set static_prefix = "../" %}

{% block title %}Blog Archive - {{ site.author }}{% endblock %}

{% block body %}
<header>
  <h1>Blog Archive</h1>
  <p class="info">
    <a href="../index.html">&larr; Back to Home</a>
  </p>
</header>

<main>
  <article>
    <h2>All Posts</h2>
    <ul>
      {% for post in posts %}
      <li>
        <p class="two-col">
          <a href="{{ post.url }}"><b>{{ post.title }}</b></a>
          <small>{{ post.date }}</small>
        </p>
        {% if post.translations %}
        <p>
          <small>Languages:
            <a href="{{ post.url }}">{{ post.lang | upper }}</a>
            {% for lang_code, other in post.translations.items() %}
            / <a href="{{ other.url }}">{{ lang_code | upper }}</a>
            {% endfor %}
          </small>
        </p>
        {% endif %}
        {% if post.description %}
        <p><small>{{ post.description }}</small></p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% if posts_by_tag %}
    <h2>Posts by Tag</h2>
    {% for tag, tag_posts in posts_by_tag.items() %}
    <h3 id="tag-{{ tag }}">{{ tag }}</h3>
    <ul>
      {% for post in tag_posts %}
      <li>
        <p class="two-col">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <small>{{ post.date }}</small>
        </p>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    {% endif %}
  </article>
</main>
{% endblock %}
