{% extends "base.html" %}
{% set static_prefix = "../" %}
{% set lang = post.lang %}

{% block title %}{{ post.title }} - {{ site.author }}{% endblock %}

{% block description %}
{% if post.description %}
<meta name="description" content="{{ post.description }}" />
{% endif %}
{% endblock %}

{% block head_extra %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="../static/hljs-lean.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block body %}
<main class="article-container">
  {% if post.toc_html %}
  <aside class="toc-sidebar">
    <nav class="toc">
      <h3>Table of Contents</h3>
      {{ post.toc_html | safe }}
    </nav>
  </aside>
  {% endif %}

  <article>
    <nav class="breadcrumb">
      <a href="../index.html">Home</a> / <a href="index.html">Blog Archive</a>
      {% if post.translations %}
      &nbsp;|&nbsp;
      <small>Language:
        <b>{{ post.lang | upper }}</b>
        {% for lang_code, other in post.translations.items() %}
        / <a href="{{ other.url }}" hreflang="{{ lang_code }}">{{ lang_code | upper }}</a>
        {% endfor %}
      </small>
      {% endif %}
    </nav>

    <p class="author">
      <small>{{ post.date }}</small>
      {% if post.tags %}
      <br />
      <small>Tags:
        {% for tag in post.tags %}
        <a href="index.html#tag-{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </small>
      {% endif %}
    </p>

    {{ post.content_html | safe }}
  </article>
</main>
{% endblock %}
