<!DOCTYPE html>
<html lang="{{ lang | default(site.default_lang) }}">

<head>
  {% if site.analytics.ga_id %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.ga_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.ga_id }}', {
      enhanced_measurement: true,
      send_page_view: true
    });
  </script>
  {% endif %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block description %}{% endblock %}
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ static_prefix | default('') }}static/style.css">
  {% endblock %}
  <script defer src="{{ static_prefix | default('') }}static/spa.js"></script>
  <title>{% block title %}{{ site.title }}{% endblock %}</title>
  {% block head_extra %}{% endblock %}
</head>

<body id="top">
  <div id="app">
    {% block body %}{% endblock %}

    {% block footer %}
    <footer>
      <hr />
      <p style="text-align: center;">
        <small>
          {{ site.author }} &copy; {{ site.data.profile.footer.start_year }} -
          <span data-current-year></span>. {{ site.data.profile.footer.rights }}
        </small>
      </p>
    </footer>
    {% endblock %}
  </div>
</body>

</html>
